#def getChartData($name, $column)
  #set current_interval = int($Extras.Charts.current_timespan)
  #if $name == "rain"
    #set current_interval = int($Extras.Charts.current_rain_timespan)
  #end if

  #for $record in $span($day_delta=1).spans(interval=current_interval)
    #try
      #set val = $getattr($record, $name)
      #set data = $getattr($val, $column).format(add_label=False, localize=False, None_string="null")
      [$record.start.raw, $data],
    #except

    #end try
  #end for
#end def

{
    "name": "$getVar('obs.label.' + 'outTemp')",
    "data": [ $getChartData('outTemp', 'avg') ]
}