#def getChartData($name, $column)
  #set current_interval = int($Extras.Charts.current_timespan)
  #if $name == "rain"
    #set current_interval = int($Extras.Charts.current_rain_timespan)
  #end if
  #set data = []
  #for $record in $span($day_delta=1).spans(interval=current_interval)
    #try
      #set val = $getattr($record, $name)
      #set data_record = $getattr($val, $column).format(add_label=False, localize=False, None_string="null")
      $data.append([$record.start.raw, float($data_record)])
    #except
      #pass
    #end try
  #end for
  #return $data
#end def

[
  {
      "name": "$getVar('obs.label.' + 'outTemp')",
      "data": $getChartData('outTemp', 'avg')
  },
  {
      "name": "$getVar('obs.label.' + 'dewpoint')",
      "data": $getChartData('dewpoint', 'avg')
  }
]